rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // By default, deny all reads and writes
    match /{document=**} {
      allow read, write: if false;
    }

    function userCanReadSet(setId) {
      let path = /databases/$(database)/documents/sets/$(setId);
      return exists(path) && request.auth != null && (
        get(path).data.ownerId == request.auth.uid ||
        get(path).data.visibility == 1 ||
        get(path).data.visibility == 2
      );
    }

    // Allow users to manage their own vocab sets
    match /sets/{setId} {
      allow create, update, delete: if request.auth != null && request.auth.uid == request.resource.data.ownerId;
      allow read: if userCanReadSet(setId);
    }

    // Rules for cards, based on data within the card document itself
    match /sets/{setId}/cards/{cardId} {
      // Allow read if user is owner OR if card is public/by link
      allow read: if request.auth.uid == resource.data.ownerId || resource.data.visibility == 1 || resource.data.visibility == 2;

      // Allow create if the user ID matches the ownerId in the new card
      allow create: if request.auth.uid == request.resource.data.ownerId;
      
      // Allow update and delete if the user is the owner of the existing card
      allow update, delete: if request.auth.uid == resource.data.ownerId;
    }
  }
}
